#social-container{
	background-color: #FFFFFF;
}

H5.encabezado { 
	text-align: center;
	
}
H3 { 
	text-align: center;
	color: #FF0000;
}

H4.sub-encabezado { 
	text-align: center;
	color: #0259FD;
}
